                        /*--------------- max-width:576px --------*/
                          
@media (max-width: 576px){
	
.col-xs-1{
	flex:0 0 auto;
	width:8.33%;
}
.col-xs-2{
	flex:0 0 auto;
	width:16.66%;
}	
.col-xs-3{
	flex:0 0 auto;
	width:25%;
}	
.col-xs-4{
	flex:0 0 auto;
	width:33.33%;
}	
	.col-xs-5{
	flex:0 0 auto;	
	width:41.66%;
}	
	.col-xs-6{
    flex:0 0 auto;
	width:50%;
}	
	.col-xs-7{
		flex:0 0 auto;
	width:58.33%;
}	
	.col-xs-8{
		flex:0 0 auto;
	width:66.66%;
}	
	.col-xs-9{
		flex:0 0 auto;
	width:75%;
}	
	.col-xs-10{
		flex:0 0 auto;
	width:83.33%;
}	
	.col-xs-11{
		flex:0 0 auto;
	width:91.66%;
}	
	.col-xs-12{
	flex:0 0 auto;
	width:100%;
}

  .d-xs-none{
	  display:none !important;
  }

        
  
 /*------- contact xs ------------*/  
   .contactinfo{
	   padding: 12px 8px;
     }
   
  .contactinfo span{
	  font-size:13px;
  }
  .contactinfo span > a{
    padding-right:8px;
   }
    .chooseitem{
	  margin:30px 0 0;
	  height:0 auto;
    }	
	   
   	    /*------- about xs ------------*/
  .abt-content{
    padding-top:30px;
	padding-left:0;
  }
   .abt-img{
	  height:500px;
  }
 
	   /*------- buyitem xs ------------*/  	
  .buyitem{
	  margin-bottom:30px;
  }
  .faqcontentitem {
    margin: 20px 10px;
    padding: 20px;
  }

      /*------- contact xs------------*/   
   .contactfull {
    padding: 20px 0px;
      }
   .contactitem{
	   margin-top:20px;
   }
       /*------- footer xs ------------*/  
  .authorcontent{
	text-align: center;
    margin-bottom: 30px;
  }
  .fontcontent{
	  text-align: center;
}

   /*------- clientlogo xs ------------*/  
   .client-logo{
	  padding:10px 0;
	  margin-bottom: 20px
  }
   
   /*------- faq xs ------------*/  
   .faqcontentitem {
    margin: 20px 10px;
    padding: 20px;
   }	
   
   .terminalitem p{
	   padding: 0;
   }
   }
}



@media(min-width:576px){
	.container{
		width:550px;
	}
.col-sm-1{
	flex:0 0 auto;
	width:8.33%;
}
.col-sm-2{
	flex:0 0 auto;
	width:16.66%;
}	
.col-sm-3{
	flex:0 0 auto;
	width:25%;
}	
.col-sm-4{
	flex:0 0 auto;
	width:33.33%;
}	
	.col-sm-5{
	flex:0 0 auto;	
	width:41.66%;
}	
	.col-sm-6{
    flex:0 0 auto;
	width:50%;
}	
	.col-sm-7{
		flex:0 0 auto;
	width:58.33%;
}	
	.col-sm-8{
		flex:0 0 auto;
	width:66.66%;
}	
	.col-sm-9{
		flex:0 0 auto;
	width:75%;
}	
	.col-sm-10{
		flex:0 0 auto;
	width:83.33%;
}	
	.col-sm-11{
		flex:0 0 auto;
	width:91.66%;
}	
	.col-sm-12{
	flex:0 0 auto;
	width:100%;
}	
}

@media (min-width:576px) and (max-width:768px){
	  .d-xs-none{
	  display:none !important;
  }
   
  .contactinfo span{
	  font-size:13px;
  }
  .contactinfo span > a{
    padding-right:8px;
   }
    .chooseitem{
	  margin:30px 0 0;
	  height:0 auto;
    }	
	.btn{
		padding:12px 8px;
	}
	 .chooseitem{
	  margin:30px 0 0;
	  height:0 auto;
    }	
	    /*------- about sm ------------*/
  .abt-content{
    padding-top:30px;
	padding-left:0;
  }
   .abt-img{
	  height:500px;
  }
 
	   /*------- buyitem sm ------------*/  	
  .buyitem{
	  margin-bottom:30px;
  }
  .faqcontentitem {
    margin: 20px 10px;
    padding: 20px;
  }

      /*------- contact sm ------------*/   
   .contactfull {
    padding: 20px 0px;
      }
   .contactitem{
	   margin-top:20px;
   }
       /*------- footer sm ------------*/  
  .authorcontent{
	      text-align: center;
    margin-bottom: 30px;
  }
  .fontcontent{
	  text-align: center;
}
  .terminalitem p{
	   padding: 0;
   }
}

                          /*--------------- min-width:768px --------*/

@media (min-width:768px){
	.container{
		width:720px;
	}
.col-md-1{
	flex:0 0 auto;
	width:8.33%;
}
.col-md-2{
	flex:0 0 auto;
	width:16.66%;
}	
.col-md-3{
	flex:0 0 auto;
	width:25%;
}	
.col-md-4{
	flex:0 0 auto;
	width:33.33%;
}	
	.col-md-5{
	flex:0 0 auto;	
	width:41.66%;
}	
	.col-md-6{
    flex:0 0 auto;
	width:50%;
}	
	.col-md-7{
		flex:0 0 auto;
	width:58.33%;
}	
	.col-md-8{
		flex:0 0 auto;
	width:66.66%;
}	
	.col-md-9{
		flex:0 0 auto;
	width:75%;
}	
	.col-md-10{
		flex:0 0 auto;
	width:83.33%;
}	
	.col-md-11{
		flex:0 0 auto;
	width:91.66%;
}	
	.col-md-12{
	flex:0 0 auto;
	width:100%;
} 
 .d-xs-none{
	  display:block !important;
  }

 /*----- client md -------*/
  .client-logo {
    padding: 10px 10px;
}
}
                                /*--------------- max-width:992px --------*/

@media(max-width:992px){

           .hamburger {
            display: block;
        }
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
            }
        .hamburger.active .bar:nth-child(1) {
             transform: translateY(8px) rotate(45deg);
            }
        .hamburger.active .bar:nth-child(3) {
             transform: translateY(-8px) rotate(-45deg);
            }
.nav-menu {
        position: fixed;
        left: -100%;
        top: 96px;
        gap: 0;
        flex-direction: column;
        background:white;
        width: 100%;
		z-index:1;
            }
.nav-item {
        margin: 12px 0;
            }
.nav-menu.active {
        left: 0;
            }
	   /*------- banner com ------------*/  
  .bannercontent  h1{
	  font-size:28px;
  }
  
   .bannercontent  p{
	  font-size:18px;
  }
      /*------- whychoose com ------------*/
  .chooseitem{
	  margin:30px 0 0;
	  height:0 auto;
  }	
      /*------- about com ------------*/
  .abt-content{
    padding-top:30px;
	padding-left:0;
  }
   .abt-img{
	  height:500px;
  }
 
    /*------- buyitem com ------------*/  	
  .buyitem{
	  margin-bottom:30px;
  }
  .faqcontentitem {
    margin: 20px 10px;
    padding: 20px;
  }

      /*------- contact com ------------*/   
   .contactfull {
    padding: 20px 0px;
      }
   .contactitem{
	   margin-top:20px;
   }
       /*------- footer com ------------*/  
  .authorcontent{
	      text-align: center;
    margin-bottom: 30px;
  }
  .fontcontent{
	  text-align: center;
}

 .terminalitem p{
	   padding: 0;
   }

}
     /*--------------- min-width:1200px --------*/
					
@media(min-width:992px){
	.container{
		width:1170px;
	}
	.col-lg-1{
	width:8.33%;
}
.col-lg-2{
	width:16.66%;
}	
.col-lg-3{
	width:25%;
}	
.col-lg-4{
	width:33.33%;
}	
	.col-lg-5{
	width:41.66%;
}	
	.col-lg-6{
	width:50%;
}	
	.col-lg-7{
	width:58.33%;
}	
	.col-lg-8{
	width:66.66%;
}	
	.col-lg-9{
	width:75%;
}	
	.col-lg-10{
	width:83.33%;
}	
	.col-lg-11{
	width:91.66%;
}	
	.col-lg-12{
	width:100%;
}	
 .d-xs-none{
	 display:block !important;
 }
}


